body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #00629B;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    padding: 40px;
    text-align: center;
    background: #f4f4f4;
}

section {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}